DATABASE_URL=postgresql://usuario:clave@localhost:5432/cresco
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
REVENUECAT_API_KEY=
REVENUECAT_WEBHOOK_SECRET=
EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1
