BITWARDEN_ACCESS_TOKEN=create-env-file-and-put-the-token-here

## Optional for local dev (no internet connection)
# CLERK_JWT_ISSUER_DOMAIN=
# CONVEX_DEPLOYMENT=
# EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=
# EXPO_PUBLIC_CONVEX_URL=
