# -----------w-------------------------------------------------------------------
# Default: Ignore EVERYTHING in the repository
# ------------------------------------------------------------------------------
*

# ------------------------------------------------------------------------------
# Unignore root files
# ------------------------------------------------------------------------------
!/.gitignore
!/README.md
!/LICENSE
!/package.json
!/package-lock.json
!/tsconfig.json
!/drizzle.config.ts
!/turbo.json
!/.env.example
!/.env.schema
!/env.d.ts

# ------------------------------------------------------------------------------
# Unignore root directories (allows Git to traverse into them)
# ------------------------------------------------------------------------------
!/.devcontainer/
!/.devcontainer/**

!/api/
!/api/**

!/Contexto/
!/Contexto/**

!/db/
!/db/**

!/docs/
!/docs/**

!/servidor/
!/servidor/**

!/movil/
!/movil/**

# ------------------------------------------------------------------------------
# Re-ignore sensitive files, secrets, build artifacts, and caches inside any folder
# ------------------------------------------------------------------------------

# Dependency & build outputs
**/node_modules/
**/.turbo/
**/dist/
**/build/
**/.next/
**/.expo/
**/.expo-shared/
**/web-build/
**/*.tsbuildinfo

# Environment variables & secrets
**/.env
**/.env.*
!**/.env.example
!**/.env.schema
**/*.keystore
**/*.jks
**/google-services.json
**/service-account*.json
**/*.pem

# Documents & Signed Agreements
**/*.pdf
!/docs/04-guias/*.pdf
/docs/03-piloto/firmados/*
!/docs/03-piloto/firmados/.gitkeep
